server {
  listen 80;
  server_name {{ assistant_server_name }};

  location '/.well-known/acme-challenge' {
    default_type "text/plain";
    root /srv/http/letsencrypt;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}
