server {
	listen 80;
	server_name {{ ci_server_name }};

	location /.well-known {
		root /srv/http/letsencrypt;
		try_files $uri $uri/ =404;
	}

  location / {
	  return 301 https://$host$request_uri;
  }
}
