geo $whitelisted {
  default 0;
  192.168.0.0/16 1;
}

server {
  modsecurity on;
  modsecurity_rules_file /etc/nginx/modsec_includes.conf;

  listen 80 default_server;
  server_name {{ home_server_name }};
  if ($whitelisted = 1) {
    return 302 http://pi.bdebyl.net;
  }

  if ($whitelisted = 0) {
    return 302 $scheme://bdebyl.net$request_uri;
  }
}
