---
- name: start-gitdaemon
  become: true
  ansible.builtin.systemd:
    name: git-daemon.service
    state: started
    enabled: true
    daemon_reload: true
  tags: git

- name: restorecon git
  become: true
  ansible.builtin.command: |
    restorecon -Frv {{ git_home }}
  tags:
    - git
    - selinux

- name: restart sshd
  become: true
  ansible.builtin.systemd:
    name: sshd.service
    state: restarted
  tags: git
