geo $whitelisted {
  default 0;
  192.168.1.0/24 1;
}

server {
  modsecurity on;
  modsecurity_rules_file {{ nginx_path }}/modsec_includes.conf;

  listen 80 default_server;
  server_name {{ home_server_name }};
  if ($whitelisted = 1) {
    return 302 http://192.168.1.12;
  }

  if ($whitelisted = 0) {
    return 302 $scheme://bdebyl.net$request_uri;
  }
}
