{
  "snipcart_api_key": "{{ snipcart_api_key }}",
  "shippo_api_key": "{{ shippo_api_key }}",
  "weight_unit": "g",
  "dimension_unit": "cm",
  "manufacture_country": "US",
  "sender_address": {
    "name": "de Byl Technologies LLC",
    "address1": "176 Lull Rd",
    "city": "Weare",
    "state": "NH",
    "country": "US",
    "zip": "03281",
    "email": "sales@debyltech.com"
  },
  "default_parcel": {
    "length": "10",
    "width": "19",
    "height": "16.5"
  }
}
