# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate
api:
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 10.0.0.0/8
    - 192.168.1.0/24

homeassistant:
  time_zone: America/New_York
  media_dirs:
    media: /share

automation: !include automations.yaml

input_boolean:
  tv_mode:
    name: TV Mode
    initial: off
    icon: mdi:television
