{
  "snipcart_api_key": "{{ snipcart_api_key }}",
  "easypost_api_key": "{{ easypost_api_key }}",
  "label_file_type": "PNG",
  "aws": {
    "access_key": "{{ fulfillr_access_key }}",
    "secret_key": "{{ fulfillr_secret_key }}",
    "region": "{{ fulfillr_region }}",
    "bucket": "{{ fulfillr_bucket }}"
  },
  "tax": {
    "ein": "{{ fulfillr_tax_ein }}",
    "ioss": "{{ fulfillr_tax_ioss }}"
  }
}