---
- name: restorecon podman
  become: true
  ansible.builtin.command: |
    restorecon -Frv {{ podman_home }}/.local/share/volumes
  tags:
    - podman
    - selinux

# nginx handler removed - nginx infrastructure decommissioned

- name: restart firewalld
  become: true
  ansible.builtin.service:
    name: firewalld
    state: restarted
  tags:
    - firewall

- name: restart caddy
  become: true
  become_user: "{{ podman_user }}"
  ansible.builtin.command: |
    podman restart caddy
  tags:
    - caddy

- name: reload caddy
  become: true
  become_user: "{{ podman_user }}"
  ansible.builtin.command: |
    podman exec caddy caddy reload --config /etc/caddy/Caddyfile
  tags:
    - caddy
    - caddy-config
